
body{
    margin: 0 auto;
    height: 100vh;
    background-color: white;
}

form{
    background-color: azure;
    margin: 10px auto;
    width: 350px;
    padding: 20px;
}
#register{
    background-color: cyan;
    color: white;
}
#heading1{
    color: Black;
}
#addi{
    color: Black;
}
